.button {
    padding: 16px 42px;
    font-family: "Pixel";
    color: #fff;
    background-color: #e20001;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #af0000;
}
.container-buttons {
    display: flex;
    justify-content: space-around;
    padding: 250px 250px 0px 250px;
}