@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.title {
    font-family: "PixelFont";
    position: relative;
    font-size: 80px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    padding-left: 40px;
}

.second-title {
    padding-left: 40px;
    top: -55px;
}

.bar-title {
    height: 80px;
    background-color: #2e2e2e;
    width: 100%;
}

.bar-text {
    color: #fff;
    text-align: center;
    height: 100%;
    margin: auto;
    padding: 10 5%;
}

.link-social {
    font-family: "Pixel";
    padding-right: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px currentcolor;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: VT323, monospace;
    font-weight: 500;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.link-social:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}